.im-app {
  height: 100%;

  row-gap: 30px;
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr) 50px;

  background-color: #323232;
  color: #ffffff;

  .im-header {
    text-align: center;
    margin: 0;
  }

  .im-content {
    overflow: auto;
  }

  .im-footer {
    justify-content: space-between;
    display: flex;
  }

  td.mat-footer-cell {
    border-top: 1px solid #ffffff;
  }

  th.mat-header-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  td.mat-cell:last-of-type {
    width: 100px;
  }
}