<div class="im-app im-cash-transactions">
  <div class="im-header" style="text-align: center; position: relative;">
    <h1> Cash transaction history </h1>
    <span style="position: absolute; right: 10px; top: 6px;"> UPDATED 28.08.2022 </span>
  </div>

  <div class="im-content">
    <div style="display: flex; justify-content: space-between; height: 100%; overflow: hidden;">
      <div style="height: 100%; width: 49%; overflow: auto;">
        <im-cash-transactions-table *ngIf="depositHistory.length" [data]="depositHistory"></im-cash-transactions-table>
      </div>

      <div style="height: 100%; width: 49%; overflow: auto;">
        <im-cash-transactions-table *ngIf="withdrawalHistory.length" [data]="withdrawalHistory">
        </im-cash-transactions-table>
      </div>
    </div>
  </div>

  <div class="im-footer">
    <div>
      <span> Deposit/withdraw: </span>
      <span class="ml-5"> {{ depositTotal - withdrawalTotal | imCurrency: 'UAH' }} </span>
      <span class="ml-5"> {{ depositUSDTotal - withdrawalUSDTotal | imCurrency: 'USD' }} </span>
    </div>
  </div>
</div>