<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">{{ element.action }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd MMMM yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex" style="gap: 20px;">
        <span>{{ element.amount | number: '1.0-0' | imCurrency }} {{ element.currency || 'uah' | uppercase }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex" style="gap: 4px;">
        <span style="font-weight: bold;">{{ element.category }}</span>

        <span *ngIf="element.description" style="font-size: 14px;">
          ({{ element.description }})
        </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef>Balance</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex" style="gap: 20px;">
        <span style="width: 110px;">{{ element.balance.uah | number: '1.0-0' | imCurrency }} {{ CURRENCY_ENUM.UAH }}</span>
        <span style="width: 110px;">{{ element.balance.usd | number: '1.0-0' | imCurrency }} {{ CURRENCY_ENUM.USD }}</span>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>