<div class="im-spends flex flex-column">
  <h3 style="margin: 0 0 10px;"> Future Spends </h3>

  <div class="flex flex-column">
    <div class="flex" style="margin-bottom: 10px;">
      <span style="width: 200px;"> Period </span>
      <span style="width: 400px;"> List </span>
    </div>

    <ng-container *ngFor="let item of dataSource">
      <div class="flex" style="margin-bottom: 5px; border: 1px solid #000;">
        <span style="width: 200px;"> {{ item.period }} </span>

        <div style="width: 400px;">
          <div *ngFor="let category of item.categories">
            <div> {{ category.name }} </div>

            <div *ngFor="let item of category.list" style="padding-left: 15px;">
              {{ item.source }} {{ item.amount | number | imCurrency }} UAH
            </div>

            <span style="font-weight: bold; padding-left: 15px;">
              Total {{ category.total | number | imCurrency }} UAH
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="flex flex-column" style="margin-left: 200px; margin-bottom: 15px;">
      <div class="flex flex-column" style="width: 400px; font-weight: bold;">
        <span> Total taxes {{ total.taxes | number | imCurrency }} UAH </span>
        <span> Total investing {{ total.investing | number | imCurrency }} UAH </span>
        <span> Total savings {{ total.savings | number | imCurrency }} UAH </span>
      </div>

      <div style="margin-top: 10px; font-weight: bold;">
        Total {{ total.taxes + total.investing + total.savings | number | imCurrency }} UAH
      </div>
    </div>
  </div>

  <!-- <div class="flex flex-column">
    <h3 style="margin: 0 0 10px;"> Future Spends </h3>

    <div class="flex">
      <div *ngFor="let spend of spendsList" class="flex flex-column" style="width: 300px;">
        <h4 style="margin-bottom: 15px;"> {{ spend.period }} </h4>

        <div *ngFor="let income of spend.list" class="flex" style="margin-bottom: 5px;">
          <span style="margin-right: 5px;"> {{ income.source }} </span>
          <span> {{ income.amount }} UAH </span>
        </div>

        <span style="margin-top: 10px; font-weight: bold;">
          Total {{ spend.total }} UAH
        </span>
      </div>
    </div>
  </div> -->
</div>