<div class="flex flex-column" style="height: 100%; overflow: auto;">
  <table mat-table multiTemplateDataRows [dataSource]="dataSource">
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef>Period</th>
      <td mat-cell *matCellDef="let element">{{ element.period }}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns.slice(1, 3)">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>

      <td mat-cell *matCellDef="let element">
        <ng-container [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ total: element[column].total }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <ng-container [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ total: total[column] }">
        </ng-container>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns.slice(3, 9)">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>

      <td mat-cell *matCellDef="let element">
        <div class="flex flex-column">
          <span *ngIf="element[column].total.uah">
            {{ element[column].total.uah | imFloor | number | imCurrency }} UAH
          </span>

          <span *ngIf="!element[column].total.uah" style="padding: 0 25px">-</span>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">{{ total[column].uah | imFloor | number | imCurrency }} UAH</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div *ngIf="element.type !== 1" class="flex example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-details [list]="element.income.list" [period]="element.period"></app-details>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr mat-row
      [class.is-quarter-row]="row.type === 1"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row"
      *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-row class="example-detail-row" *matRowDef="let row; columns: ['details']"></tr>

    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>

<ng-template #totalTemplate let-total="total">
  <div class="flex flex-column">
    <span *ngFor="let item of total | keyvalue" >
      {{ $any(item.value) | number | imCurrency }} {{ $any(item.key) | uppercase }}
    </span>
  </div>
</ng-template>
