:host {
  display: block;
  height: 100%;
}

.is-quarter-row {
  background-color: #7b1fa2 !important;
  color: #ffffff;

  .mat-cell {
    padding-bottom: 5px !important;
    vertical-align: bottom;
  }

  .total-row {
    display: none;
  }
}

.total-row {
  background-color: #000;
  font-weight: bold;
  padding: 5px 0;
  color: #fff;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: inherit;
  height: 50px;

  flex-direction: column;
  display: flex;
}
