<div class="im-app">
  <h1 class="im-header"> Statistics </h1>

  <div class="im-content">
    <div>
      <mat-checkbox *ngFor="let column of columnList" class="ml-15" [(ngModel)]="column.selected"
        (change)="showColumn(column)">
        {{ column.label }}
      </mat-checkbox>
    </div>

    <!-- <div *ngFor="let category of list" class="mt-25" style="max-height: 450px;">
      <h4 class="mt-0 mb-5"> {{ category.name }} </h4>

      <table mat-table [dataSource]="category.list" class="mat-elevation-z8" style="width: 100%;">
        <ng-container [matColumnDef]="columnList[0].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{ columnList[0].label }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.symbol }} </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[1].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{ columnList[1].label }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[2].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{ columnList[2].label }} </th>
          <td mat-cell *matCellDef="let element"> {{ element | totalFilled }} USD </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[3].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{ columnList[3].label }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.symbol | usdValue }} </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[4].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{columnList[4].label }} </th>
          <td mat-cell *matCellDef="let element"> {{ element?.history | averagePrice }} </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[5].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{columnList[5].label }} </th>
          <td mat-cell *matCellDef="let element">
            {{ element | percentResult}} %
          </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[6].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{columnList[6].label }} </th>
          <td mat-cell *matCellDef="let element">
            {{ element | usdValueResult }} USD
          </td>
        </ng-container>

        <ng-container [matColumnDef]="columnList[7].shortcut">
          <th mat-header-cell *matHeaderCellDef> {{columnList[7].label }} </th>
          <td mat-cell *matCellDef="let element">
            {{ element.quantity | price: element.symbol}} USD
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> -->

    <div class="mt-25" style="max-height: 450px;">
      <table matSort mat-table class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataSource"
        (matSortChange)="sort($event)">
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
          <td mat-cell *matCellDef="let index = index"> {{ index + 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
          <td mat-cell *matCellDef="let element"> {{ element.rank }} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} ({{ element.symbol }}) </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Coin price </th>
          <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
        </ng-container>

        <ng-container matColumnDef="totalCoins">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Total coins </th>
          <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
        </ng-container>

        <ng-container matColumnDef="totalValue">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Total spent usd </th>
          <td mat-cell *matCellDef="let element"> {{ element | totalFilled }} USD </td>
        </ng-container>

        <ng-container matColumnDef="average">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Average price </th>
          <td mat-cell *matCellDef="let element"> {{ element | averagePrice }} </td>
        </ng-container>

        <ng-container matColumnDef="percentageResult">
          <th mat-header-cell *matHeaderCellDef> Percentage result </th>
          <td mat-cell *matCellDef="let element">
            {{ element | percentResult}} %
          </td>
        </ng-container>

        <ng-container matColumnDef="currencyResult">
          <th mat-header-cell *matHeaderCellDef> Currency result </th>
          <td mat-cell *matCellDef="let element">
            {{ element | usdValueResult }} USD
          </td>
        </ng-container>

        <ng-container matColumnDef="currencyAmount">
          <th mat-header-cell *matHeaderCellDef> Amount in currency </th>
          <td mat-cell *matCellDef="let element">
            {{ element.quantity | price: element.symbol}} USD
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id" (click)="selectCrypto(row)">
        </tr>
      </table>
    </div>
  </div>

  <div class="im-footer">
    <span> Total:</span>
    <span> {{ total }} USD </span>
  </div>
</div>