<div class="im-app">
  <h1 class="im-header">
    Statistics

    <div class="flex">
      <button (click)="synchronize()"> Synchronize </button>
    </div>
  </h1>

  <div class="im-content">
    <!-- <div>
      <mat-checkbox *ngFor="let column of columnList" class="ml-15" [(ngModel)]="column.selected"
        (change)="showColumn(column)">
        {{ column.label }}
      </mat-checkbox>
    </div> -->

    <mat-form-field style="width: 100%;">
      <mat-label>Filter</mat-label>

      <input #input matInput (keyup)="applyFilter($event)" placeholder="ex. BTC">
    </mat-form-field>

    <table matSort mat-table class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataSource"
      (matSortChange)="sort($event)">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let index = index"> {{ index + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let element"> {{ element.rank }} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} ({{ element.symbol }}) </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Coin price </th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | roundValue | currency: 'USD': 'symbol': '1.2-10' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalCoins">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Total coins </th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity | roundValue }} {{ element.symbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="currencyAmount">
        <th mat-header-cell *matHeaderCellDef> Amount in currency </th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalInCurrency | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalValue">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Total spent usd </th>
        <td mat-cell *matCellDef="let element"> {{ element.investedAmount | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="averagePrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Average price </th>
        <td mat-cell *matCellDef="let element">
          {{ element.averagePrice | roundValue | currency: 'USD': 'symbol': '1.2-10' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="percentageResult">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Percentage result </th>
        <td mat-cell *matCellDef="let element">
          {{ element.percentageResult | roundValue }}%
        </td>
      </ng-container>

      <ng-container matColumnDef="currencyResult">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Currency result </th>
        <td mat-cell *matCellDef="let element">
          {{ element.currencyResult | imRound | currency }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id" (click)="selectCrypto(row)">
      </tr>
    </table>
  </div>

  <div class="im-footer">
    <div>
      <span> Total spent currency: </span>
      <span> {{ statistic.totalSpendCurrency | currency: 'USD': 'symbol': '1.0-0' }} </span>
    </div>

    <div>
      <span> Amount in currency total: </span>
      <span> {{ statistic.totalInCurrency | currency: 'USD': 'symbol': '1.0-0' }} </span>
    </div>

    <div>
      <span> Currency difference: </span>
      <span> {{ statistic.currencyDifference | currency: 'USD': 'symbol': '1.0-0' }} </span>
    </div>

    <div>
      <span> Percentage difference: </span>
      <span> {{ statistic.percentageDifference }}% </span>
    </div>
  </div>
</div>