<div class="im-app">
  <div class="im-header">
    <div class="im-header-center">Wallets</div>
  </div>

  <div class="im-content">
    <table matSort mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let index = index"> {{ index + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
        <td mat-cell *matCellDef="let element">{{ element.company }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="ratio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ratio</th>
        <td mat-cell *matCellDef="let element">{{ element.ration | roundValue: 1 }}%</td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | roundValue | currency: 'USD': 'symbol': '1.2-20' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="openWalletDetails(row)"></tr>
    </table>
  </div>

  <div class="im-footer">
    Total: {{ total | roundValue | currency: 'USD': 'symbol': '1.2-20' }}
  </div>
</div>