.im-app {
  .im-content {
    flex-direction: column;
    display: flex;
  }

  .mat-row {
    cursor: pointer;
  }

  .mat-header-cell:last-of-type,
  .mat-cell:last-of-type {
    text-align: right;
  }

  .mat-header-cell:last-of-type {
    padding-right: 0;
  }

  .mat-header-cell:last-of-type .mat-sort-header-container {
    justify-content: flex-end;
  }

  tr.example-detail-row {
    height: 0 !important;
    cursor: default;
  }

  .mat-column-number {
    width: 55px;
  }

  .property-title {
    text-align: left;
    width: 300px;
  }
}

table {
  width: 100%;
  overflow: auto;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
