<div class="im-savings flex flex-column">
  <div class="flex" style="gap: 32px;">
    <table matSort mat-table class="mat-elevation-z8 mr-8" style="width: 100%;" [dataSource]="dataSource">
      <ng-container matColumnDef="period">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Period </th>
        <td mat-cell *matCellDef="let element"> {{ element.period }} </td>
        <td mat-footer-cell *matFooterCellDef>
          <div class="flex flex-column">
            <div *ngIf="savings.notPayed"> Total not payed </div>
            <div> Total payed </div>
            <div> Total </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.list" class="flex" [class.is-not-payed]="!item.payed">
            <span style="margin-right: 20px;"> {{ item.source }} </span>
            <span> {{ item.amount | number | imCurrency }} UAH </span>
          </div>
        </td>

        <td mat-footer-cell *matFooterCellDef>
          <div class="flex flex-column">
            <div *ngIf="savings.notPayed" class="is-not-payed">
              {{ savings.notPayed | number | imCurrency }} UAH
            </div>

            <div> {{ savings.payed | number | imCurrency }} UAH </div>
            <div> {{ savings.total | number | imCurrency }} UAH </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>

    <table matSort mat-table class="mat-elevation-z8 mr-8" style="width: 100%; height: max-content;" [dataSource]="capital">
      <ng-container matColumnDef="currency">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{ element.label }} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">
          <span> {{ element.amount | number | imCurrency }} {{ element.label }} </span>
        </td>

        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="amountUAH">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> UAH amount </th>
        <td mat-cell *matCellDef="let element">
          <span> {{ (element.amount * element.exchangeRate) | number | imCurrency }} UAH </span>
        </td>

        <td mat-footer-cell *matFooterCellDef>
          <span> {{ savings.capitalTotal | number | imCurrency }} UAH </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="exchangeRate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> UAH amount </th>
        <td mat-cell *matCellDef="let element">
          <span> {{ element.exchangeRate | number | imCurrency }} UAH </span>
        </td>

        <td mat-footer-cell *matFooterCellDef>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedCurrencyColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedCurrencyColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedCurrencyColumns; sticky: true"></tr>
    </table>
  </div>
</div>
