<div class="app-capital">
  <div class="flex" style="height: 30px;">
    <!-- <div class="flex" style="width: 300px;"> Date </div> -->
    <div class="flex" style="width: 300px;"> Category </div>
    <div class="flex" style="width: 300px;"> Name </div>
    <div class="flex" style="width: 300px;"> Current price USD </div>
    <div class="flex" style="width: 300px;"> Current price UAH </div>
    <!-- <div class="flex" style="width: 300px;"> Exchange rate </div> -->
  </div>

  <div class="flex flex-column">
    <div *ngFor="let item of list" class="flex">
      <!-- <div class="flex" style="width: 300px;"> {{ item.date }} </div> -->
      <div class="flex" style="width: 300px;"> {{ item.category }} </div>
      <div class="flex" style="width: 300px;"> {{ item.name }} </div>
      <div class="flex" style="width: 300px;"> {{ item.amountUSD | number | imCurrency }} USD </div>
      <div class="flex" style="width: 300px;"> {{ item.amountUAH | number | imCurrency }} UAH </div>
      <!-- <div class="flex" style="width: 300px;"> {{ item.price.exchangeRate }} </div> -->
    </div>
  </div>

  <div class="flex mt-30" style="height: 30px; background-color: #000000;">
    <!-- <div class="flex" style="width: 300px;"> Date </div> -->
    <div class="flex" style="width: 300px;"> Total </div>
    <div class="flex" style="width: 300px;">  </div>
      <div class="flex" style="width: 300px;"> {{ total.amountUSD | number | imCurrency }} USD </div>
      <div class="flex" style="width: 300px;"> {{ total.amountUAH | number | imCurrency }} UAH </div>
    <!-- <div class="flex" style="width: 300px;"> Exchange rate </div> -->
  </div>
</div>