.is-not-payed {
  color: red;
}

.im-finances {
  grid-template-rows: 30px minmax(0, 1fr);

  .im-content {
    overflow: hidden;
  }

  .mat-mdc-tab-group {
    height: 100%;
  }
}

.cdk-cell {
  padding-top: 5px !important;
  vertical-align: baseline;
  position: relative;
}

.mat-column-period {
  width: 230px;
}

app-month {
  display: block;
  height: 100%;

  .mat-mdc-row {
    cursor: pointer;
  }

  .mat-mdc-cell {
    padding-top: 0 !important;
    vertical-align: inherit;
  }

  .mat-mdc-footer-row {
    background-color: #000000;

    * {
      font-weight: bold;
    }
  }
}

.mat-tab-group {
  height: 100%;

  .mat-tab-label-container {
    flex-grow: 0;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }
}

.mat-table {
  width: 100%;
}

app-details {
  .mat-mdc-header-cell {
    z-index: 99 !important;
  }
}
