<div *ngIf="finances$ | async as finances" class="im-finances im-app">
  <div class="im-header">
    <h1> Finances </h1>
  </div>

  <div class="im-content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Distribution">
        <app-month [state]="finances"></app-month>
      </mat-tab>

      <mat-tab label="Bonds">
        <app-bonds [state]="finances"></app-bonds>
      </mat-tab>

      <!-- <mat-tab label="Savings">
        <app-savings [state]="finances"></app-savings>
      </mat-tab>

      <mat-tab label="Costs">
        <app-costs [state]="finances"></app-costs>
      </mat-tab>

      <mat-tab label="Debts">
        <app-debts [state]="finances"></app-debts>
      </mat-tab>

      <mat-tab label="Spends">
        <app-spends [state]="finances"></app-spends>
      </mat-tab>

      <mat-tab label="Capital">
        <app-capital [state]="finances"></app-capital>
      </mat-tab> -->
    </mat-tab-group>
  </div>
</div>