.app-root {
  & > *:not(app-dashboard):not(router-outlet) {
    display: block;
    width: 100%;
  }
}

.im-app {
  padding: 16px;
  height: 100%;

  row-gap: 16px;
  display: grid;
  grid-template-rows: 30px minmax(0, 1fr) 30px;

  background-color: #323232;
  box-sizing: border-box;
  color: #ffffff;

  .im-header {
    position: relative;
    text-align: center;
    margin: 0;

    align-items: center;
    display: flex;

    h1 {
      margin: inherit;
    }

    .im-header-center {
      text-align: center;
      flex: 1;
    }
  }

  .im-content {
    overflow: auto;
  }

  .im-footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  td.mat-footer-cell {
    border-top: 1px solid #ffffff;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
