<div class="flex flex-column" style="height: 100%; overflow: auto;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef> Period </th>
      <td mat-cell *matCellDef="let element">
        <span> {{ element.period }} </span>

        <div class="total-row">
          <div class="flex flex-column">
            <span> Total: </span>
            <span> Rest: </span>
          </div>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <span> Total </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="incomes">
      <th mat-header-cell *matHeaderCellDef> Incomes </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.income.list" class="flex flex-column">
          <span> {{ item.source }} </span>
          <span class="property-amount">
            {{ item.amount | number | imCurrency }} UAH
          </span>
        </div>

        <div class="total-row">
          <div class="flex flex-column">
            <span class="property-amount">
              {{ element.income.total | number | imCurrency }} UAH
            </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.income, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.income | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="taxes">
      <th mat-header-cell *matHeaderCellDef> Taxes </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.taxes.list" class="flex flex-column" [style.color]="item.payed ? 'inherit' : 'red'">
          <span style="width: 40px;"> {{ item.source }} </span>
          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span class="property-amount"> {{ element.taxes.total | number | imCurrency }} UAH </span>
          </div>

          <div class="flex flex-column">
            <span class="property-amount"> {{ element.taxes.rest | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.taxes, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.taxes | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="savings">
      <th mat-header-cell *matHeaderCellDef> Savings </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.savings.list" class="flex flex-column" [style.color]="item.payed ? 'inherit' : 'red'">
          <span style="width: 60px;"> {{ item.source }} </span>
          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span class="property-amount"> {{ element.savings.total | number | imCurrency }} UAH </span>
          </div>

          <div class="flex flex-column">
            <span class="property-amount"> {{ element.savings.rest | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.savings, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.savings | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="costs">
      <th mat-header-cell *matHeaderCellDef>Costs</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.costs.list" class="flex flex-column" [style.color]="item.payed ? 'inherit' : 'red'">
          <span style="width: 60px;"> {{ item.source }} </span>
          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span class="property-amount"> {{ element.costs.total | number | imCurrency }} UAH </span>
          </div>

          <div class="flex flex-column">
            <span class="property-amount"> {{ element.costs.rest | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.savings, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.costs | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

   <ng-container matColumnDef="newDebts">
      <th mat-header-cell *matHeaderCellDef> New Debts </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.newDebts.list" class="flex flex-column">
          <div class="flex flex-column">
            <span style="width: 80px;"> {{ item.source }} </span>
            <div style="font-size: 12px;"> ({{ item.description }}) </div>
          </div>

          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span class="property-amount"> {{ element.newDebts.total | number | imCurrency }} UAH </span>
          </div>

          <div class="flex flex-column">
            <span class="property-amount"> {{ element.newDebts.rest | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.newDebts, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.newDebts | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

   <ng-container matColumnDef="payedDebts">
      <th mat-header-cell *matHeaderCellDef> Payed debts </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.payedDebts.list" class="flex flex-column" [style.color]="item.payed ? 'inherit' : 'red'">
          <span style="width: 80px;"> {{ item.source }} </span>
          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span style="width: 80px;"></span>
            <span class="property-amount"> {{ element.payedDebts.total | number | imCurrency }} UAH </span>
          </div>

          <div class="flex flex-column">
            <span style="width: 80px;"></span>
            <span class="property-amount"> {{ element.payedDebts.rest | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.payedDebts, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.payedDebts | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

   <ng-container matColumnDef="lifeCosts">
      <th mat-header-cell *matHeaderCellDef> Life costs </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.lifeCosts.list" class="flex flex-column" [style.color]="item.payed ? 'inherit' : 'red'">
          <span style="width: 40px;"> {{ item.source }} </span>
          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span class="property-amount"> {{ element.lifeCosts.total | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.lifeCosts, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.lifeCosts | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

   <ng-container matColumnDef="investing">
      <th mat-header-cell *matHeaderCellDef> Investing </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.investing.list" class="flex flex-column" [style.color]="item.payed ? 'inherit' : 'red'">
          <span style="width: 90px;"> {{ item.source }} </span>
          <span class="property-amount"> {{ item.amount | number | imCurrency }} UAH </span>
        </div>

        <div class="total-row flex-column">
          <div class="flex flex-column">
            <span class="property-amount"> {{ element.investing.total | number | imCurrency }} UAH </span>
          </div>

          <div class="flex flex-column">
            <span class="property-amount"> {{ element.investing.rest | number | imCurrency }} UAH </span>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="totalTemplate"
          [ngTemplateOutletContext]="{ data: element.investing, type: element.type }">
        </ng-container>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <div class="flex flex-column">
          <span class="property-amount">
            {{ total.investing | number | imCurrency }} UAH
          </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr mat-row
      [class.is-quarter-row]="row.type === 1"
      *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>

<ng-template #totalTemplate let-data="data" let-type="type">
  <div *ngIf="type === 1" class="flex flex-column" style="padding: 0 10px;">
    <span class="property-amount"> {{ data.total | number | imCurrency }} UAH </span>
  </div>
</ng-template>