<div class="im-app">
  <h1 class="im-header"> Wallets </h1>

  <div class="im-content">
    <div class="mb-10">
      <button *ngFor="let wallet of walletList" mat-flat-button class="mr-10"
        [color]="selectedWallet === wallet ? 'primary' : ''" (click)="selectWallet(wallet)">
        {{ wallet.name }} ({{ wallet.company }})
      </button>
    </div>

    <div class="mb-10">
      <mat-form-field appearance="fill">
        <mat-label> Project status </mat-label>

        <mat-select [formControl]="statusControl">
          <mat-option *ngFor="let status of statusList" [value]="status.value" (click)="filterProjectByStatus()">
            {{ status.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field style="width: 100%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="searchCoin($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table matSort mat-table class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataSource">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let index = index"> {{ index + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let element"> {{ element.rank }} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} ({{ element.symbol }}) </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Coin price </th>
        <td mat-cell *matCellDef="let element"> {{ element.price | currency: 'USD': 'symbol': '1.2-10' }} </td>
      </ng-container>

      <ng-container matColumnDef="totalCoins">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Total coins </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.hasOwnProperty('history')">
            {{ element.quantity }} {{ element.symbol }}
          </ng-container>

          <ng-container *ngIf="!element.hasOwnProperty('history')">
            {{ getCurrentWallet(element).quantity! }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalValue">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Total spent usd </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.hasOwnProperty('history')">
            {{ element.investedAmount | currency }}
          </ng-container>

          <ng-container *ngIf="!element.hasOwnProperty('history')">
            {{ getCurrentWallet(element).investedAmount | currency }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="averagePrice">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Average price </th>
        <td mat-cell *matCellDef="let element"> {{ element.averagePrice | currency: 'USD': 'symbol': '1.2-20' }} </td>
      </ng-container>

      <ng-container matColumnDef="percentageResult">
        <th mat-header-cell *matHeaderCellDef> Percentage result </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.hasOwnProperty('history')">
            {{ element.percentageResult }}%
          </ng-container>

          <ng-container *ngIf="!element.hasOwnProperty('history')">
            {{ getCurrentWallet(element).percentageResult }}%
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="currencyResult">
        <th mat-header-cell *matHeaderCellDef> Currency result </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.hasOwnProperty('history')">
            {{ element.currencyResult }} USD
          </ng-container>

          <ng-container *ngIf="!element.hasOwnProperty('history')">
            {{ getCurrentWallet(element).currencyResult }} USD
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="currencyAmount">
        <th mat-header-cell *matHeaderCellDef> Amount in currency </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.hasOwnProperty('history')">
            {{ element.totalInCurrency | currency }}
          </ng-container>

          <ng-container *ngIf="!element.hasOwnProperty('history')">
            {{ getCurrentWallet(element).totalInCurrency | currency }}
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="'./' + selectedWallet.address + '/coin/' + row?.symbol"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>

  <div class="im-footer">
    <div>
      <span> Total spent currency: </span>
      <span> {{ totalSpendCurrency | currency: 'USD': 'symbol': '1.0-0' }} </span>
    </div>

    <div>
      <span> Amount in currency: </span>
      <span> {{ totalInCurrency | currency: 'USD': 'symbol': '1.2-2' }} </span>
    </div>

    <div>
      <span> Percentage result: </span>
      <span> {{ percentageResult }}% </span>
    </div>

    <div>
      <span> Currency result: </span>
      <span> {{ currencyResult | currency: 'USD': 'symbol': '1.2-2' }} </span>
    </div>
  </div>
</div>