<div class="im-app">
  <h1 class="im-header"> Close transaction month </h1>

  <form class="im-content" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label> Month </mat-label>
      <input matInput formControlName="month">
    </mat-form-field>

    <div formGroupName="deposit">
      <mat-form-field appearance="fill">
        <mat-label> Deposit UAH </mat-label>
        <input matInput formControlName="UAH">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Deposit USD </mat-label>
        <input matInput formControlName="USD">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label> Withdraw UAH </mat-label>
      <input matInput formControlName="withdraw">
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label> Withdraw USD </mat-label>
      <input matInput formControlName="withdrawUSD">
    </mat-form-field> -->
  </form>

  <div class="im-footer">
    <button mat-button type="button" (click)="save()">
      Save
    </button>
  </div>
</div>